/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover,
a:active,
a:focus {
  /*color: #4568a0 !important;*/
  text-decoration: none !important;
}

a.add_new_repository_item_button:hover,
a.add_new_repository_item_button:active,
a.add_new_repository_item_button:focus{
  color: #fff !important;
}


/* biorhyme-200 - latin-ext_latin */
@font-face {
	font-family: 'BioRhyme';
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/biorhyme-v2-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
	src: local('BioRhyme ExtraLight'), local('BioRhyme-ExtraLight'),
			 url('../../fonts/biorhyme-v2-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-200.svg#BioRhyme') format('svg'); /* Legacy iOS */
}
/* biorhyme-300 - latin-ext_latin */
@font-face {
	font-family: 'BioRhyme';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/biorhyme-v2-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('BioRhyme Light'), local('BioRhyme-Light'),
			 url('../../fonts/biorhyme-v2-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-300.svg#BioRhyme') format('svg'); /* Legacy iOS */
}
/* biorhyme-regular - latin-ext_latin */
@font-face {
	font-family: 'BioRhyme';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/biorhyme-v2-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('BioRhyme'), local('BioRhyme-Regular'),
			 url('../../fonts/biorhyme-v2-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/biorhyme-v2-latin-ext_latin-regular.svg#BioRhyme') format('svg'); /* Legacy iOS */
}

/* source-sans-pro-200 - latin-ext_latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 200;
	src: url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-200.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-300 - latin-ext_latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-300.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-regular - latin-ext_latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-600 - latin-ext_latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-600.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin-ext_latin */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/source-sans-pro-v11-latin-ext_latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

body{
	font-family: 'Source Sans Pro', sans-serif !important;
  line-height: 1 !important;
}

body#login { 
	background: url('../images/bg_img_login.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body#login:before { 
	content: "";
	background: url('../images/dots_layer.png') repeat; 
	background-color: #00000040;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 1;
}

.main_container{
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_container{
	width: 270px;
	background: #000000c9;
	padding: 15px;
}

.logo_container{
	position: relative;
	margin-top: -126px;
	margin-left: -45px;
	margin-right: -45px;
}

.logo_container img{
	max-width: 100%;
}

.login_title{
	font-family: 'BioRhyme', serif;
	color: #fff;
	display: block;
	margin-top: 15px;
	text-align: center;
	font-weight: 200;
	font-size: 32px;
}

.login_form_container{

}

.form-line{
	text-align: center;
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
}

.feedback_users_form .form-line{
	width: 100%;
}

.form-line label{
	position: absolute;
	top: 2px;
	left: 10px;
	font-size: 13px;
	color: #848484;
}

.form-line input{
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 13px 10px 0 10px;
}

#classic_login_form_button{
	background-color: #375f9c;
	border: none;
	font-size: 27px;
	color: #fff;
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	height: 40px;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
}

#classic_login_form_button i{
	position: absolute;
	font-size: 33px;
	left: 6px;
	top: 3px;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

#classic_login_form_button:hover{
	background-color: #153971;
}

.login_form_or{
	color: #fff;
	display: block;
	text-align: center;
	margin: 10px 0;
	position: relative;
}

.login_form_or span{
	z-index: 3;
	position: relative;
}

.login_form_or:before{
	content: "";
	width: 30px;
	height: 4px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -15px;
	top: 8px;
	background: black;
	z-index: 2;
}

.login_form_or:after{
	content: "";
	border-bottom: 1px solid #fff;
	width: 100px;
	height: 1px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: 8px;
	z-index: 1;
}

#google_login_form_button{
	background-color: #d6011b;
	border: none;
	font-size: 23px;
	text-align: right;
	line-height: 40px;
	color: #fff;
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-top: 13px;
	height: 40px;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
	text-decoration: none;
}

#google_login_form_button i{
	position: absolute;
	font-size: 33px;
	left: 1px;
	top: 3px;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	z-index: 1;
}

#google_login_form_button span{
	position: relative;
	z-index: 2;
	margin-right: 10px;
}

#google_login_form_button:hover{
	background-color: #ac0015;
}

#forgot_password_button{
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	margin: 10px 0 0 0;
}

#forgot_password_button:hover{
	text-decoration: underline;
}

.custom_popup{

}

.popup_title{
	font-family: 'BioRhyme', serif;
	color: #d7001e;
	display: block;
	margin-top: -15px;
	text-align: center;
	font-weight: 200;
	font-size: 28px;
}

.popup_description{

}

.form_button{
	background-color: #375f9c;
	border: none;
	font-size: 27px;
	color: #fff;
	font-size: 18px;
	padding: 0 30px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	height: 40px;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
}

#forgotten_password_form input{
	border: 1px solid #ddd;
}

#new_repository_item_form input,
#new_repository_materialnumber_form input,
#edit_repository_materialnumber_form input,
#new_repository_tags textarea,
#edit_repository_tags textarea,
#new_repository_links_form input,
#edit_repository_links_form input,
#edit_repository_item_form input{
	border: 1px solid #ddd;
	padding: 0px 10px 0 10px;
}

#new_repository_item_associates_form input,
#new_repository_item_date_form input,
#edit_repository_item_date_form input,
#edit_repository_item_associates_form input{
	border: 1px solid #ddd;
	padding: 0px 10px 0 40px;
}

#new_repository_tags_form textarea,
#edit_repository_tags_form textarea{
	border: 1px solid #ddd;
	padding: 10px;
	width: 100%;
}

.field_warning{
	border: 1px solid #d7001e !important;
}

.form_warning_msg{
	width: 90%;
	margin: 0 auto;
	margin-top: 0;
	background: #dddddd;
	font-size: 14px;
	font-weight: 600;
	line-height: 25px;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.form_warning_msg_show{
	height: 25px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.login_failed {
	text-align: center;
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-top: 15px;
	background: #c30000;
}

.login_failed span {
	padding: 5px 15px;
	display: block;
	color: #fff;
	font-size: 14px;
}

#navbar {
	background: #375f9c;
	height: 90px;
	font-family: 'Dosis', sans-serif;
	position: fixed;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
}

#navbar .logo{
	width: 230px;
	background: #26252c;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 230px;
}

#navbar .logo img{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.body_content {
	padding-bottom: 30px;
}

.body_content .left_column {
	width: 230px;
	position: fixed;
	height: 100%;
	background: #26252c;
	margin-top: 90px;
	z-index: 5;
}

.body_content .center_column {
	padding: 105px 15px 0px 245px;
	position: relative;
}

.left_column .column_content{
	display: flex;
	flex-wrap: wrap;
}

.left_column .column_content a{
	display: block;
	width: 100%;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	font-size: 24px;
	font-weight: 300;
	padding: 10px;
	text-indent: 10px;
}

.left_column .column_content a i{
	position: relative;
	left: -13px;
	top: 2px;
}

.left_column .column_content a:hover{
	background-color: #3c3b43;
}

.left_column .column_content a:hover,
.left_column .column_content a:focus,
.left_column .column_content a:active{
  color: #fff !important;
}

.left_column .column_content a.active_page{
	background-color: #d6001d;
}

#navbar .navbar_right{
	padding: 0 15px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.navbar_right .page_title{
	color: #fff;
	font-size: 35px;
	font-family: 'BioRhyme', serif;
	font-weight: 200;
}

.main_table_header{
	color: #e51016;
	font-weight: 700;
	margin-bottom: 5px;
}

.main_table_container{
	margin-bottom: 20px;
}

.main_table_columns_titles,
.main_table_row{
	display: flex;
}

.main_table_column_title{
	font-weight: 700;
}

.main_table_row:nth-child(even){
	background-color: #ebebeb;
}

.main_table_column_title,
.main_table_column{
	border: 1px solid #c2c2c2;
	margin-right: -1px;
	margin-bottom: -1px;
	font-size: 15px;
}

.main_table_column_title span,
.main_table_column span,
.main_table_column .lang_value_input{
	padding: 7px 5px 7px 10px;
	display: block;
	overflow: hidden;
	word-break: break-word;
}

.repository_row .main_table_column{
	cursor: pointer;
}

.main_table_column.repository_col_8,
.main_table_column.repository_col_11{
	cursor: default;
}

.lang_value_input{
	width: 100%;
	border: none;
	background: none;
	outline: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	resize: none;
}

.lang_value_input:focus{
	background-color: #d1def3;
}

.source_lang_value_input{
	display: none;
}

#lang_result{
	display: flex;
	position: fixed;
	top: 124px;
	right: -240px;
	width: 220px;
	height: 70px;
	background: #375f9c8f;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	font-family: 'Source Sans Pro', sans-serif;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

.header_buttons{
	display: flex;
}

.add_new_lang_button,
.add_new_repository_item_button,
.remove_lang_button,
.download_feedback_button,
.approve_accounts_button,
.footer_save_button,
.notifications_popup_button,
.cookie_banner_save_button{
	background: #d7001f;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	cursor: pointer;
}

.add_new_lang_button span,
.add_new_repository_item_button span,
.remove_lang_button span,
.download_feedback_button span,
.approve_accounts_button span,
.footer_save_button span,
.notifications_popup_button span,
.cookie_banner_save_button span{
	width: 100px;
	display: block;
	margin: 0 5px 0 10px;
}

.add_new_repository_item_button span{
	width: 120px;
}

.download_feedback_button span{
	width: 140px;
}

.footer_save_button span,
.cookie_banner_save_button span{
	width: 140px;
}

.approve_accounts_button span{
	width: 125px;
}

.notifications_popup_button{
	background: #fff;
	color: #222;
	margin-right: 15px;
}

.notifications_popup_button span{
	width: 90px;
}

.approve_accounts_button{
	margin-left: 15px;
	position: relative;
}

.add_new_lang_button i,
.add_new_repository_item_button i,
.remove_lang_button i,
.download_feedback_button i,
.approve_accounts_button i,
.footer_save_button i,
.notifications_popup_button i,
.cookie_banner_save_button i{
	font-size: 34px;
}

.remove_lang_button {
	margin-left: 15px;
	width: 120px;
	background: rgba(38, 37, 44, 0.5);
}

.select_lang_button,
.batch_action_button{
	background: #375f9c;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	margin-left: 15px;
	border: 1px solid white;
	position: relative;
	cursor: pointer;
}

.select_lang_button span,
.batch_action_button span{
	display: block;
	margin: 0 10px;
}

.select_lang_button i,
.batch_action_button i{
	font-size: 34px;
}

/*.repository_col_1,*/
/*.repository_col_2,*/
/*.repository_col_3,*/
/*.repository_col_4,*/
/*.repository_col_5,*/
/*.repository_col_6,*/
/*.repository_col_7,*/
/*.repository_col_8,*/
/*.repository_col_9,*/
/*.repository_col_10,*/
/*.repository_col_11,*/
.feedback_col_1,
.feedback_col_2,
.feedback_col_3,
.account_col_1,
.account_col_2,
.account_col_3,
.account_col_4,
.account_col_5,
.account_col_6,
.feedback_users_col_1,
.feedback_users_col_2,
.feedback_users_col_3,
.feedback_users_col_4{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/*.repository_col_1{*/
	/*width: 20%;*/
	/*max-width: 20%;*/
/*}*/

/*.repository_col_2{*/
	/*width: 6%;*/
	/*max-width: 6%;*/
/*}*/

/*.repository_col_3{*/
	/*width: 6%;*/
	/*max-width: 6%;*/
/*}*/

/*.repository_col_4{*/
	/*width: 7.5%;*/
	/*max-width: 7.5%;*/
/*}*/

/*.repository_col_5{*/
	/*width: 7%;*/
	/*max-width: 7%;*/
/*}*/

/*.repository_col_6{*/
	/*width: 10%;*/
	/*max-width: 10%;*/
/*}*/

/*.repository_col_7{*/
	/*width: 10%;*/
	/*max-width: 10%;*/
/*}*/

/*.repository_col_8{*/
	/*width: 6%;*/
	/*max-width: 6%;*/
/*}*/

.repository_col_9{
	background-color: transparent;
}

/*.repository_col_10{*/
	/*width: 10%;*/
	/*max-width: 10%;*/
/*}*/

/*.repository_col_11{*/
	/*width: 2.5%;*/
	/*max-width: 2.5%;*/
/*}*/

.feedback_col_1{
	width: 10%;
	max-width: 10%;
	cursor: default !important;
}

.feedback_col_2{
	width: 15%;
	max-width: 15%;
	cursor: default !important;
}

.feedback_col_1 span,
.feedback_col_2 span{
	margin: 0 auto;
}

.feedback_col_3{
	width: 75%;
	max-width: 75%;
	cursor: default !important;
}

.account_col_1{
	width: 3%;
	max-width: 3%;
}

.account_col_2{
	width: 13%;
	max-width: 13%;
}

.account_col_3{
	width: 13%;
	max-width: 13%;
}

.account_col_4{
	width: 13%;
	max-width: 13%;
}

.account_col_5{
	width: 58%;
	max-width: 58%;
}

.account_col_6{
	width: 13%;
	max-width: 13%;
	position: relative;
}

.feedback_users_col_1{
	width: 15%;
	max-width: 15%;
}

.feedback_users_col_2{
	width: 35%;
	max-width: 35%;
	white-space: nowrap;
}

.feedback_users_col_3{
	width: 35%;
	max-width: 35%;
}

.feedback_users_col_4{
	width: 15%;
	max-width: 15%;
}

.step_2_selection_buttons,
.step_3_selection_buttons{
	display: flex;
	justify-content: center;
	margin: 15px 0 22px 0;
}

.step_2_selection,
.step_3_selection{
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	border: 1px solid #8b8b8b;
	padding: 2px 5px;
  width: 120px;
	margin: 0 10px;
	cursor: pointer;
}

.step_3_selection{
	padding: 10px 5px;
}

.step_2_selection.selection_active,
.step_3_selection.selection_active{
	border: 1px solid #d7001e;
}

.step_2_selection strong,
.step_3_selection strong{
	display: block;
	font-weight: 600;
  white-space: nowrap;
}

.step_4_search_icon,
.step_5_calendar_icon{
	position: absolute;
	left: 5px;
	font-size: 30px;
	top: 5px;
}

input.custom_input_with_label{
	height: 45px;
	line-height: 17px !important;
	padding: 15px 10px 0 10px !important;
}

label.custom_label_input{
	position: absolute;
	font-size: 13px;
	top: 2px;
	left: 10px;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-top: 15px;
}

.file-btn {
	border: 1px solid #111111;
	background-color: white;
	padding: 8px 20px;
	font-size: 18px;
	color: #545454;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
}

.upload-btn-wrapper input[type=file] {
	font-size: 8px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 162px;
	height: 41px;
	cursor: pointer;
}

.file_section_or{
	display: block;
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.file_section_or span{
	display: inline-block;
	position: relative;
	font-size: 16px;
	background: #fff;
	z-index: 2;
	padding: 0 5px;
}

.file_section_or:before{
	content: "";
	display: block;
	border-bottom: 1px solid black;
	position: absolute;
	top: 11px;
	left: 0;
	width: 100px;
	z-index: 1;
}

.dropzone_label i{
	display: block;
	font-size: 39px;
}

.arrow_step_back,
.arrow_step_forward{
	position: absolute;
	top: 50%;
	font-size: 30px;
	margin-top: -10px;
	cursor: pointer;
}

.arrow_step_back{
	left: 5px;
}

.arrow_step_forward{
	right: 5px;
}

.arrow_step_back:hover,
.arrow_step_forward:hover{
	color: #d7001e;
}

/*
#go_to_new_repository_item_step_2,
#go_to_new_repository_item_step_3,
#go_to_new_repository_item_step_4,
#go_to_new_repository_item_step_5,
#go_to_new_repository_item_step_6,
#go_to_new_repository_item_step_7,
#go_to_new_repository_item_step_8{
	display: none;
}
*/


#new_repository_item_step_2,
#new_repository_item_step_3,
#new_repository_item_step_4,
#new_repository_item_step_5,
#new_repository_item_step_6,
#new_repository_item_step_7,
#new_repository_item_step_8{
	opacity: 0;
	display: none;
}

.dz-file-preview{
	display: none !important;
}

.dz-file-preview:last-child{
	display: block !important;
}

#relations_selected,
#edit_relations_selected{
	display: none;
	width: 92.5%;
	margin: 0 auto;
	margin-top: 15px;
	flex-wrap: wrap;
}

.relation_selected,
.edit_relation_selected{
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: #e5e5e5;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
	margin: 5px;
	position: relative;
	padding-right: 35px;
}

.relation_selected i,
.edit_relation_selected i{
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 4px;
	right: 6px;
	color: #c3c3c3;
}

.relation_selected i:hover,
.edit_relation_selected i:hover{
	color: #d7001e;
}

#new_repository_item_associates_final,
#edit_repository_item_associates_final{
	display: none;
}

.main_table_column_title.repository_col_11 i{
	font-size: 22px;
}

#repository_remove_batch{
	display: none;
	position: fixed;
	bottom: 15px;
	right: 14px;
	background: rgb(215, 0, 31);
	width: 190px;
	font-size: 18px;
	color: #fff;
	padding: 15px 0 15px 14px;
	text-align: center;
	cursor: pointer;
}

#repository_remove_batch:hover{
	background: rgb(155, 0, 0);
}

#repository_remove_batch i{
	font-size: 23px;
	position: absolute;
	left: 15px;
	top: 11px;
}

.popup_remove{

}

.popup_remove span{
	margin-top: 10px;
	display: block;
	white-space: nowrap;
}

.popup_remove_buttons{
	display: flex;
	margin: 20px 0 15px 0;
	justify-content: center;
}

#popup_remove_confirm{
	background-color: #d7001e;
	margin: 0 15px;
	font-weight: 400;
}

#popup_remove_cancel{
	margin: 0 15px;
	font-weight: 400;
}

.main_table_column a{
	color: #4568a0;
}

.main_table_column.repository_col_10 span{
	color: #4568a0;
	display: flex;
	align-items: center;
  white-space: nowrap;
}

.main_table_column.repository_col_10 i{
	font-size: 23px;
	margin-right: 5px;
	/*position: relative;*/
	top: 1px;
}

.existing_file{
	display: none;
	background: #eeeeee;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 14px;
	align-items: center;
	justify-content: space-between;
	word-break: break-all;
	text-align: left;
}

.existing_file span.remove_existing_file_btn{
	cursor: pointer;
	margin-left: 10px;
	background: #d7001e;
	color: #fff;
	padding: 5px;
	min-width: 82px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-line .lang_to_remove_section{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 15px;
	flex-wrap: wrap;
}

.form-line .lang_to_remove_section:last-child{
	border-bottom: none;
}

.lang_to_remove_name{
	width: 110px;
	text-align: right;
	margin-left: -50px;
}

.lang_to_remove_button{
	background-color: #375f9c;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	padding: 0 30px;
	margin-left: 15px;
	display: block;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
}

.lang_to_remove_button_inactive{
	background-color: #c2c2c2;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	padding: 0 30px;
	margin-left: 15px;
	display: block;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: not-allowed;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
}

.lang_remove_validation{
	display: none;
	height: 0;
	background: #f1f1f1;
	margin-top: 15px;
}

.lang_remove_validation_content{
	padding: 15px 30px;
	width: 353px;
}

.lang_remove_validation_button{
	background-color: #d7001e;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
	padding: 0 30px;
	margin-left: 0px;
	margin-top: 12px;
	display: inline-block;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow: hidden;
}

.lang_remove_validation_text{
	margin-bottom: 15px;
}

.lang_remove_validation_text strong{
	font-weight: 600;
	color: #d7001e;
}

.lang_remove_validation_content input{
	padding: 0 10px 0 10px;
}

.lang_remove_validation_error{
	opacity: 0;
	display: none;
	padding: 4px 10px;
	font-size: 13px;
	background: #dddddd;
	color: #202020;
	font-weight: 400;
	margin-top: -25px;
	position: relative;
}

.user_approved_color,
.user_blocked_color,
.user_request_color{
	display: flex !important;
	align-items: center;
}

.user_approved_color{
	color: #00c503;
}

.user_blocked_color{
	color: #f00a0a;
}

.user_request_color{
	color: #f00a0a;
}

.user_approved_color i,
.user_blocked_color i,
.user_request_color i{
	position: relative;
	top: 1px;
	margin-right: 4px;
	font-size: 21px;
}

.account_edit_container{
	border: 1px solid #c2c2c2;
	padding: 15px;
	margin-bottom: 15px;
	background: #f8f8f8;
	position: relative;
}

.account_edit_container_title{
	color: #d6001d;
	font-size: 26px;
	font-family: 'BioRhyme', serif;
	font-weight: 300;
	line-height: 1em;
}

.account_edit_container_description{
	margin: 10px 0;
	line-height: 1.3em;
}

.account_edit_content .form-line{
	width: 400px;
}

.account_edit_content .form-line input{
	border: 1px solid #ddd;
}

.form_info{
	color: #00c503;
	margin: 1px 0;
	font-weight: 400;
}

.form_info i{
	position: relative;
	top: 4px;
	font-size: 20px;
	margin-right: 3px;
}

.account_edit_content .form_line_row{
	display: flex;
	align-items: center;
	justify-content: center;
}

.account_edit_content .form_line_row .form-line{
	margin: 15px 10px 0 10px;
	width: 200px;
}

.login_type_status{
	position: absolute;
	top: 0;
	right: 0;
}

.login_type_status select{
	display: none;
}

.select-items div:nth-child(1){
	background-color: #00c503;
}

.select-items div:nth-child(2){
	background-color: #d6001d;
}

.select-selected {}

.custom-select {
	position: relative;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 35px 8px 15px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

.select-items {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select-hide {
	display: none;
}

.selected-active{
	background-color: #00c503;
}

.selected-inactive{
	background-color: #d6001d;
}

.user_approval_selection{
	display: none;
	position: absolute;
	left: 0;
	top: 36px;
	background: white;
	-webkit-box-shadow: 0 0 10px 0 #b8b8b8;
	box-shadow: 0 0 10px 0 #b8b8b8;
	z-index: 99;
}

.user_approval_approved{
	color: #00c503;
}

.user_approval_blocked{
	color: #f00a0a;
}

.user_approval_approved,
.user_approval_blocked{
	display: flex !important;
	align-items: center;
	padding: 7px 15px 7px 10px;
	cursor: pointer;
	font-size: 15px;
}

.user_approval_approved i,
.user_approval_blocked i{
	position: relative;
	top: 1px;
	margin-right: 4px;
	font-size: 21px;
}

.user_approval_approved:hover,
.user_approval_blocked:hover{
	background-color: #f0f0f0;
	cursor: pointer;
}

.langs_container{
	position: relative;
	top: 0;
	position: absolute;
	display: none;
	width: 100%;
	text-align: center;
}

.select_lang_button:hover .langs_container{
	display: block;	
}

.dmc_arrow_up{
	height: 0px;
	position: relative;
	margin-top: 58px;
}

.langs_content{
	background: #fff;
	border: 1px solid #808080;
	-webkit-border-radius: 13px 13px 13px 13px;
	border-radius: 13px 13px 13px 13px;
	overflow: hidden;
	text-decoration: none;
	color: #222;
	font-size: 16px;
	padding: 0;
	margin-top: 0;
}

.langs_container .dmc_arrow_up:before {
	top: -22px;
	border-color: transparent transparent #808080 transparent;
	border-width: 11px;
}

.langs_container .dmc_arrow_up:after {
	top: -21px;
	border-color: transparent transparent #fff transparent;
	border-width: 11px;
	z-index: 2;
}

.langs_container .dmc_arrow_up:after, 
.langs_container .dmc_arrow_up:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	margin-left: -11px;
}

.langs_content .lang_name{
	padding: 12px 0;
}

.langs_content .lang_name:hover{
	background-color: #e6e6e6;
}

.users_approve_counter{
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	position: absolute;
	background: #fff;
	color: #222;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	top: -10px;
	right: -9px;
}

.upload-btn-wrapper-2{
	position: relative;
}

.upload-btn-wrapper-2 input[type=file] {
	font-size: 8px;
	position: absolute;
	left: 15px;
	top: 0;
	opacity: 0;
	width: 152px;
	height: 48px;
	cursor: pointer;
	z-index: 111;
}

.feedback_add_user_container{
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}

#feedback_new_user_email{
	border: 1px solid #ddd;
	padding: 0px 10px 0 10px;
}

.feedback_new_user_email_button{
	padding: 0 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-left: 15px;
}

.feedback_new_user_email_button span{
	width: 340px;
}

.feedback_new_user_email_button i{
	font-size: 33px;
}

.feedback_new_user_email_button_confirmation{
	position: absolute;
	font-size: 13px;
	right: 30px;
	bottom: -5px;
	color: #059901;
	display: none;
	align-items: center;
	font-weight: 400;
}

.feedback_new_user_email_button_confirmation i{
	font-size: 15px;
	margin-right: 2px;
}

#feedback_users_form .main_table_row .main_table_column {
	font-weight: 400;
	cursor: default;
}

#feedback_users_form .main_table_row .main_table_column i{
	font-size: 20px;
	margin-right: 7px;
}

#feedback_users_form .main_table_row .main_table_column.feedback_users_col_4{
	cursor: pointer;
}

#feedback_users_form .main_table_row .main_table_column.feedback_users_col_4 span{
	display: flex;
	align-items: center;
}

.cookie_banner_container{
	opacity: 1;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	max-width: 320px;
	position: relative;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
	width: 100%;
	background: #375f9b;
	color: #ffffff;
	box-sizing: border-box;
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.05em;
}

.cookie_banner_title{
	font-size: 18px;
	margin: 10px 0 0 0;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.cookie_banner_text{
	font-size: 12px;
	margin: 0 20px 18px 20px;
	padding: 8px 0;
	text-transform: none;
	text-align: center;
	letter-spacing: 0.07em;
}

.cookie_banner_text a{
	color: #ffffff;
	font-weight: 700;
	text-decoration: underline;
	margin-top: 4px;
	display: inline-block;
}

.cookie_banner_selection_list_container ul{
	border: 1px solid #f2f2f2;
	list-style: none;
	margin: 0 20px 10px 20px;
	padding: 0;
}

.cookie_banner_selection_list_container ul li{
	-webkit-transition: all 0.1s ease 0s;
	transition: all 0.1s ease 0s;
	background: #ffffff;
	border-bottom: 1px solid #f2f2f2;
	color: #606569;
}

.cookie_banner_selection_list_container ul li.cookieOption2{
	border-bottom: none;
}

.cookie_banner_selection_list_container ul li.cookieOption1:hover {
	background-color: #1daf2e;
	color: #ffffff;
}

.cookie_banner_selection_list_container ul li.cookieOption2:hover {
	background-color: #e20000;
	color: #ffffff;
}

.cookie_banner_selection_list_container ul li label{
	color: inherit;
	cursor: pointer;
	display: block;
	font-weight: normal !important;
	padding: 8px;
	text-decoration: none;
	text-transform: inherit;
}

.cookie_banner_selection_list_container ul li input {
	display: inline-block !important;
	height: auto;
	margin: 0 8px 0 0 !important;
	padding: 0;
	-webkit-appearance: radio !important;
	width: auto !important;
}

.cookie_banner_selection_list_container input[type=radio] {
	visibility: hidden;
	position: absolute;
	left: -9999px;
}

.cookie_banner_small_text{
	font-size: 10px;
	padding: 8px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 20px;
	color: #ffffff;
}

.cookie_banner_declaration,
.cookie_banner_back{
	font-size: 10px;
	padding: 8px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
	margin: 0 0 8px 0;
	color: #ffffff;
}

.cookie_banner_declaration:hover,
.cookie_banner_back:hover{
	text-decoration: none;
}

.cookie_banner_inner_container{
	overflow: hidden;
	max-height: 1000px;
}

.cookie_banner_inner_container_second{
	overflow: hidden;
}

.cookie_banner_title_second{
	font-size: 14px;
	margin: 0 0 16px 0;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.cookie_banner_text_second{
	margin: 0 20px;
	font-size: 12px;
	letter-spacing: 0.05em;
}

.cookie_banner_text_second a{
	text-decoration: underline;
	font-weight: 600;
	color: #fff;
}

.cookie_banner_text_second strong{
	font-weight: 600;
}

.cookie_banner_admin{
	display: flex;
	margin-bottom: 15px;
	background-color: #ebebeb;
	padding: 15px;
	align-items: self-start;
}

.cookie_banner_edit_container{
	width: 100%;
	margin-left: 15px;
}

.cookie_banner_edit_container_row{
	display: flex;
}

.cookie_banner_edit_container_input{
	border: 1px solid #ddd;
	padding: 0px 10px 0 10px;
	outline: none;
	width: 40%;
	height: 40px;
	line-height: 40px;
	margin: 0px 0px 10px 0;
}

textarea.cookie_banner_edit_container_input{
	width: 80%;
}

#cookie_banner_url_link_1,
#cookie_banner_url_link_2,
#footer_url_link_1,
#footer_url_link_2,
#footer_url_link_3,
#footer_url_link_4{
	margin-left: 15px;
}

.tox-tinymce{
	margin-bottom: 10px !important;
}

.btr-accept-ui {
	width: 40px;
	text-indent: 4px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	position: relative;
	right: 20px;
	cursor: pointer;
	top: 1px;
	margin-right: 10px;
}

.btr-accept-ui:before {
	content: "OFF" !important;
}

.btr-accept-ui:before {
	background-color: #d7001f;
	color: #fff;
	width: 47px;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 500;
	text-align: right;
	line-height: 32px;
	padding: 0 8px 0 13px;
	-moz-transform: translate(-25%, 0);
	-ms-transform: translate(-25%, 0);
	-webkit-transform: translate(-25%, 0);
	transform: translate(-25%, 0);
	-moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	-o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	-webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
}

.btr-accept-ui:after {
	width: 23px !important;
	top: 1px;
	height: 23px !important;
	background-color: white;
	border-radius: 30px;
	-moz-transform: translate(-58%, 10%);
	-ms-transform: translate(-58%, 10%);
	-webkit-transform: translate(-58%, 10%);
	transform: translate(-58%, 10%);
}

.btr-accept-ui:before, 
.btr-accept-ui:after {
	height: 30px;
	position: absolute;
	width: 44px;
	content: "";
}

.btr-radio-ui:after, 
.btr-check-ui:after, 
.btr-accept-ui:after {
	-moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	-o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	-webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
	transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 1);
}

.btr-accept-ui.agreement_checked:before {
  content: "ON" !important;
}

.btr-accept-ui.agreement_checked:before {
	background-color: #00de5c;
	box-shadow: 0 0 0 1px #00de5c;
	border-radius: 30px;
	font-size: 17px;
	font-weight: 500;
	line-height: 32px;
	color: #ffffff;
	text-align: left;
	padding: 0 10px 0 11px;
	width: 44px;
}

.btr-accept-ui.agreement_checked:after {
	width: 23px;
	height: 23px;
	-moz-transform: translate(100%, 9%);
	-ms-transform: translate(100%, 9%);
	-webkit-transform: translate(100%, 9%);
	transform: translate(100%, 9%);
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.cookie_banner_status_container{
	position: relative;
}

.cookie_banner_status_title{
	color: #fff;
	position: absolute;
	left: -35px;
	font-size: 13px;
	white-space: nowrap;
	top: 37px;
}

.code_snippets_container{
	width: 100%;
}

.code_snippets_title{
	font-family: 'BioRhyme', serif;
	color: #d7001e;
	display: block;
	font-weight: 300;
	font-size: 23px;
	text-align: left;
}

.code_snippets_container .form-line {
	width: 50%;
	margin: 0;
	margin-top: 10px;
}

.code_snippets_container .cookie_banner_edit_container_row{
	display: block;
	margin-bottom: 30px;
}

#repository_datatable {
	font-size: 14px;
  border: 1px solid #c2c2c2 !important;
  margin: 0 !important;
  border-collapse: collapse !important;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #c2c2c2 !important;
}

#repository_datatable tr th {
	font-weight: bold;
  border-top: 0px !important;
  font-size: 15px;
  min-width: 40px;
  cursor: auto;
}

.pdf_links {
  width: 300px;
  margin-left: -130px;
  left: 0;
  position: absolute;
  top: 32px;
  font-size: 14px;
  align-items: center;
  word-wrap: break-word;
  padding: 10px;
  z-index: 99;
}

.arrow_links {
  margin-top: 0;
  top: 33px;
  z-index: 100;
}

.pdf_container {
  margin-top: 15px;
  left: 0;
}


.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 0 !important;
}

table.dataTable.table-sm .sorting:before, 
table.dataTable.table-sm .sorting_asc:before, 
table.dataTable.table-sm .sorting_desc:before,
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after{
  font-size: 16px;
  cursor: pointer;
}

.main_table_column.select_lang_button {
  display: table-cell;
  text-align: center;
}

.main_table_column.select_lang_button i{
  font-size: 22px;
}

.table td, .table th{
  vertical-align: middle !important;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ebebeb !important;
}

.main_table_column.repository_col_1,
.main_table_column.repository_col_2,
.main_table_column.repository_col_3,
.main_table_column.repository_col_4,
.main_table_column.repository_col_5,
.main_table_column.repository_col_6,
.main_table_column.repository_col_7,
.main_table_column.repository_col_9,
.main_table_column.repository_col_10,
.main_table_column.repository_col_11{
  cursor: pointer;
}

th.sorting_disabled i {
  font-size: 22px;
}

.table-sm td, .table-sm th {
  padding: 7px 10px 7px 10px !important;
}

table#repository_datatable span{
  padding: 3px 0px !important;
}

table#repository_datatable .main_table_column.repository_col_3{
  white-space: nowrap;
}

#repository_datatable tr th:last-child{
  min-width: 10px;
}

table#repository_datatable.table-bordered.dataTable tbody td:last-child{
  text-align: center;
}

.show_error_input{
  border-color: red !important;
}

#repository_datatable .datatable_name {
  max-width: 22% !important;
  width: 22% !important;
}

#repository_datatable .datatable_art {
  max-width: 4% !important;
  width: 4% !important;
}

#repository_datatable .datatable_typ {
  max-width: 6% !important;
  width: 6% !important;
}

#repository_datatable .datatable_verbunden {
  max-width: 10% !important;
  width: 10% !important;
}

#repository_datatable .datatable_anderungs {
  max-width: 10% !important;
  width: 10% !important;
}

#repository_datatable .datatable_material {
  max-width: 16% !important;
  width: 16% !important;
}

#repository_datatable .datatable_tag {
  max-width: 16% !important;
  width: 16% !important;
}

#repository_datatable .datatable_anzahl {
  max-width: 6% !important;
  width: 6% !important;
}

#repository_datatable .datatable_link {
  max-width: 4% !important;
  width: 4% !important;
}

#repository_datatable .datatable_upload {
  max-width: 6% !important;
  width: 6% !important;
}

#repository_datatable .datatable_delete {
  max-width: 20px !important;
  width: 20px !important;
}